﻿@using System.Drawing
@using System.Web.UI.WebControls
@using HTTPParser.Models
@using Newtonsoft.Json
@{
    ViewBag.Title = "HTTP requests list";
}

<h2>@ViewBag.Title</h2>

@foreach (Datum response in ViewBag.all)
{
    Dictionary<string, string> Headers = JsonConvert.DeserializeObject<Dictionary<string, string>>(response.Headers);
    foreach (KeyValuePair<string, string> entry in Headers)
    { 
        @String.Format("{0} : {1}", entry.Key, entry.Value) 
        <br>
    }
    <br>
    <text>@response.Body<br /><br /></text>
    <br><br>
}
